
<h1 class="d-flex justify-content-center"><%= "All our flats (#{@flats.count})" %> </h1>

<div class="container">
    <div class="row">
<% @flats.each do |flat| %>
  <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
          <div class="card-body">
          <div class="card-image" style="background-image: url('')"></div>
          <div class="card-content">
            <div class="card-title">
              <h4><%= flat.name %></h4>
            </div>
            <p><%= flat.description %></p>
            <div class="flex">
              <div class="flex">
                <i class="material-icons mr-2">people</i><span><%= flat.number_of_guests %></span>
              </div>
              <div class="flex ml-3">
                <i class="material-icons mr-2">euro_symbol</i> <%= flat.price_per_night %>
              </div>
            </div>
          </div>
          <div class="card-actions">
            <a href="">More info</a> // TODO:turn into LINK_TO
            <a class="ml-3 text-warning" href="">Edit</a>// TODO:turn into LINK_TO
            <a data-confirm="Are you sure?" class="ml-3 text-danger"  data-method="delete" href="">Remove</a>// TODO:turn into LINK_TO
          </div>
          </div>
        </div>
    </div>
  <% end %>
</div>
</div>
